{
  "openapi": "3.0.0",
  "info": {
    "title": "Inrconnect API Reference",
    "version": "1.0",
    "description": "The Inrconnect V1 API"
  },
  "servers": [
    {
      "url": "https://api.inrconnect.com"
    }
  ],
  "paths": {
    "/organization": {
      "get": {
        "summary": "Get organization details",
        "description": "Returns the organization associated with the API key.",
        "tags": ["Organization"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Acme Corp"
                    },
                    "address": {
                      "type": "string",
                      "example": "123 Business Street"
                    },
                    "phone": {
                      "type": "string",
                      "example": "+1-234-567-890"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "contact@acme.com"
                    },
                    "website": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://acme.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid."
          },
          "404": {
            "description": "Organization not found."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
